{% extends "base.html" %}
{% block title %}{{ page.title }} &ndash; {{ project }}{% endblock title %}
{% block body %}
</div>
<div class="jumbotron">
<div class="container-fluid">
  <h3>{{ page.title }}</h3>
</div>
</div>
<div class="container-fluid">

<div class="row">
    {% if pages.subpages %}
        <div class="col-sm-3">
        <div class="toc">
            <ul class="nav nav-stacked nav-pills">
            <li role="presentation" class="title{% if pages==page %} disabled{% endif %}">{{ pages }}</li>
            </ul>
            <ul class="nav nav-stacked nav-pills">
            {% for subpage in pages.subpages recursive %}
                <li role="presentation"{% if subpage==page %} class="disabled"{% endif %}>
                {{ subpage }}
                {% if subpage.subpages %}
                    <ul class="nav nav-stacked nav-pills">
                      {{ loop(subpage.subpages) }}
                    </ul>
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
        </div>
    {% endif %}
    <div class="col-sm-offset-1 col-sm-6 col-sm-offset-2" id='text'>
        {{ page.contents }}
    </div>
</div>

{% endblock body %}
