{% extends "base_program.html" %}
{% block title %}
All Programs &ndash; {{ project }}
{% endblock %}
{% block body %}
</div>

<div class="jumbotron">
<div class="container-fluid">
    <h3>Programs</h3>
</div>
</div>

<div class="row">
{% for prog in project.programs|sort(attribute='name') %}
    <div class="col-sm-offset-1 col-sm-4" id='text'>
        <!-- fit the description of a program here -->
        <!-- First the title -->
        <center>
        {% if prog.meta['propnamelink'] %}
            <h3>{{ prog.meta['propnamelink'] }}</h3>
        {% else %}
            <h3>{{ prog }}</h3>
        {% endif %}
        </center>
        <!-- then some additional little picture or something -->
        {% if prog.meta['secret'] %}
            {{ prog.meta['secret'] }}
        {% endif %}
        <p>
        <!-- and the summary -->
        {{ prog.meta['summary'] }}
        </p>
    </div>
{% endfor %}
</div>

{% endblock %}
