{% extends "base_program.html" %}
{% block title %}
    {% if program.meta['propname'] %}
        {{ program.meta['propname'] }} &ndash; {{ project }}
    {% else %}
        {{ program.name }} &ndash; {{ project }}
    {% endif %}
{% endblock title %}
{% block body %}
{% import 'macros.html' as macros %}

</div>

<div class="jumbotron">
<div class="container-fluid">
    {% if program.meta['propname'] %}
        <h3>{{ program.meta['propname'] }}</h3>
    {% else %}
        <h3>{{ program.name }}</h3>
    {% endif %}
</div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-7 col-sm-offset-3" id='text'>
    {{ program.doc }}
    </div>
  </div>
{% endblock body %}
